.App {
  text-align: center;
}

.App-header {
  background-color: #eeeeee;
  color: #424242;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

footer {
  background-color: #eeeeee;
  color: #424242;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

main {
  margin: calc(20px + 2vmin);
}

.fade-in {
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

input {
  font-size: calc(10px + 2vmin);
  /* margin: calc(10px + 2vmin); */
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
}

.choice:hover {
  /* background-color: #E91E63; */
  background-color: #212121;
  color: white;
}

input[type=submit] {
  color: #171717;
  /* background-color: #E91E63; */
  background-color: #fa87ad;
  border-style: none;
  padding-left: calc(2px + 2vmin);
  padding-right: calc(2px + 2vmin);
  margin: calc(2px + 2vmin);
}

input[type=button] {
  color: #171717;
  /* background-color: #E91E63; */
  background-color: #87fad4;
  border-style: none;
  padding-left: calc(2px + 2vmin);
  padding-right: calc(2px + 2vmin);
  margin: calc(2px + 2vmin);

}

input[type=submit]:hover {
  background-color: #fcb7ce;
}

input[type=button]:hover {
  background-color: #bbfce4;
}
